{% extends 'layout.html' %}
{% block body %}

<form class="form-signin" method="post" action="" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <div class="universal">
        <div class="universal-screen">
            <div class="app-title">
                <h1>Create Event</h1>
            </div>
            {% from 'includes/_formhelpers.html' import render_field %}
            <div class="universal-form">
                <div class="control-group">
                    {{ render_field(form.name, class_="form-control") }}
                </div>
                <div class="control-group">
                    {{ render_field(form.category, class_="form-control") }}
                </div>
                <div class="control-group">
                    {{ render_field(form.location, class_="form-control") }}
                </div>
                <div class="control-group">
                    {{ render_field(form.owner, class_="form-control") }}
                </div>
                <div class="control-group">
                    {{ render_field(form.description, class_="form-control", id="editor") }}
                </div>
                <button class="btn btn-primary btn-block" type="submit">Create</button>
                <button class="btn btn-primary btn-block" type="submit">Back</button>
            </div>
        </div>
    </div>
</form>

{% endblock %}

