{% extends 'layout.html' %}
{% block body %}
<h1>Dashboard
    <small> Welcome {{ current_user.id }}</small>
</h1>
<button class="btn btn-primary" onclick="window.location.href='{{url_for('create_event')}} '">New Event</button>
<hr>
<div class="container">
    {% if current_user.get_number_of_events() > 0 %}
    {% for event_name, event in current_user.events_dict.items() %}
    <div class="card ">
        <div class="card-header">
            <h2 style="text-align:center"><strong>{{ event.name }}</strong> || <strong>{{ event.category }}</strong> || <strong>{{ event.location }}</strong></h2>
        </div>
        <hr>
        <div class="card-body bg-transparent border-success">
            {% if current_user.get_total_attendants() > 0 %}
            <table class="table table-stripped">
                <tr>
                    <th>Attendees Name</th>
                    <th>Contacts</th>
                    <th>Location</th>
                </tr>
                <tr>
                    <td>{{ attendant.name }}</td>
                    <td>{{ attendant.contact }}</td>
                    <td>{{ attendant.location }}</td>
                </tr>
                <!-- {% endfor %}-->
            </table>
            {% else %}
            <ul class="list-group">
                <li class="list-group-item list-group-item-info">Currently no one has RSVP to attend your app</li>
            </ul>
            {% endif %}
        </div>
        <hr>
        <div class="card-footer bg-transparent border-success">
            <button class="btn btn-primary">Update</button>
            <input class="btn btn-danger" type="submit" value="Delete">
        </div>
    </div>
    {% endfor %}
    {% else %}
    <ul class="list-group">
        <li class="list-group-item list-group-item-info">You currently do not have any events posted</li>
    </ul>
    {% endif %}

</div>

{% endblock %}

