{% extends 'layout.html' %}
{% block body %}
<h1>Dashboard
    <small> Welcome {{ current_user.id }}</small>
</h1>
<button class="btn btn-primary" onclick="window.location.href='{{url_for('create_events')}} '">New Event</button>
<button class="btn btn-primary">Reset password</button>
<hr>
<div class="container">
    {% if current_user.get_number_of_events() > 0 %}
    {% for event in current_user.events_dict.values(): %}
    <div class="card" style="margin:25px auto;">
        <div class="card-header">
            <h2 style="text-align:center"><strong>{{ event.name }}</strong> || <strong>{{ event.category }}</strong> ||
                <strong>{{ event.location }}</strong></h2>
        </div>
        <hr>
        <div class="card-body bg-transparent border-success">
            {% if event.get_total_attendants() > 0 %}
            <table class="table table-stripped">
                <tr>
                    <th>Attendees Name</th>
                    <th>Email</th>
                </tr>
                {% for attendant in event.event_attendees %}
                <tr>
                    <td>{{ attendant.username }}</td>
                    <td>{{ attendant.email }}</td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <ul class="list-group">
                <li class="list-group-item list-group-item-info">Currently no one has RSVP to attend your Event</li>
            </ul>
            {% endif %}
        </div>
        <hr>
        <div class="card-footer bg-transparent border-success">
            <button class="btn btn-primary"
                    onclick="window.location.href='{{ url_for('update_events', eventName = event.name) }}'">Update
            </button>
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#mymodal">
                Delete
            </button>


            <div id="mymodal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Please confirm deletion</h4>
                        </div>
                        <div class="modal-body">
                            <p>If you want to delete the event do so by pressing the delete button else cancel the
                                deletion</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <input class="btn btn-danger" type="submit" value="Delete"
                                   onclick="window.location.href='{{ url_for('delete_events', event_name = event.name) }}' ">
                        </div>
                    </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <ul class="list-group">
        <li class="list-group-item list-group-item-info">You currently do not have any events posted</li>
    </ul>
    {% endif %}

</div>
{% endblock %}


